/* .App-header {
  background-color: #2D2D2D;
  min-height: 20vh;
  display: flex;
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  margin: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between; 
  align-items: end;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.firstname, .lastname {
  margin: 0;
}

.firstname {
  font-size: 65px;
}

.lastname {
  font-size: 20px;
  margin-top: -15px;
}

@media (min-width: 768px) {
  .firstname {
    font-size: 65px;
  }

  .lastname {
    font-size: 20px;
    margin-top: -5px; 
  }
} */